$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';
@import "animate-sass/animate";

$use-fadeIn: true;
$use-fadeInDown: true;

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html * {
    font-family: 'Open Sans', sans-serif;
}

.clickable {
    cursor: pointer;
}

$itemHeight: 100px;
$li-border: 1px solid #E8E8E8;
.main-title {
    text-align: center;
    padding: 20px 0;
    margin: 0;
    color: #676767;
    .potato-title {
        border-bottom: $li-border;
    }
}

$searchIconWidth: 20px;
.search-wrapper {
    max-width: 600px;
    margin: auto auto;
}

.search-results {
    margin-top: $searchIconWidth;
}

.po-li {
    &:hover {
        background-color: #eaeaea;
        transition: 1s;
    }
    .po-li-section {
        $leftSectionWidth: 200px;
        height: $itemHeight;
        display: inline-block;
        &.section-left {
            position: absolute;
            width: $leftSectionWidth;
        }
        &.section-right {
            border-bottom: $li-border;
            padding-left: $leftSectionWidth;
            width: 100%;
        }
        .po-li-main {
            h1 {
                font-size: 20px;
                line-height: 25px;
                margin: 0;
            }
            .po-li-meta-wrapper {
                margin-top: 25px;
                .po-li-meta {
                    display: inline-block;
                    padding-right: 10px;
                }
            }

            overflow: hidden;
            display: block;
            height: 100%;
            padding: 10px 20px;
        }
    }
    display: flex;
}

.overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.po-image {
    height: 100%;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.stagger-fade-in {
    &.ng-enter {
        transition: 0.5s ease all;
        opacity: 0;
        &.ng-enter-active {
            opacity: 1;
        }
    }
}

.at-bottom-bar {
    width: 100%;
    text-align: center;
    padding: 10px;
}

// Search

////// Stole it of the internet
.bootstrap .tags {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.bootstrap .tags.focused {
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}

.bootstrap .tags .tag-item {
    background: #428bca;
    border: 1px solid #357ebd;
    border-radius: 4px;
    color: #fff;
}

.bootstrap .tags .tag-item.selected {
    background: #d9534f;
    border: 1px solid #d43f3a;
    border-radius: 4px;
    color: #fff;
}

.bootstrap .tags .tag-item button {
    background: transparent;
    color: #000;
    opacity: .4;
}
//////

// Search details

.detail-item {
    .sub-header {
        .sub-header-list {
            list-style-type: none;
            margin: 0;
            padding: 0;
            li + li {
                border-left: 1px solid #000000;
                padding-left: 10px;
            }
            .sub-header-list-item {
                margin: 10px 10px 10px 0;
                display: inline-block;
            }
        }
    }
    .detail-main-section {
        &.detail-description-wrapper {
            position: absolute;
            padding: 20px;
        }
        display: inline-block;
    }
    display: block;
}

// Component styles are injected through grunt
// injector
@import 'modal/modal.scss';
// endinjector
